.carousel-indicators {
  position: relative;
  margin-top: 1.5rem;
}
.carousel-indicators [data-bs-target] {
  background-color: brown;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.items img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
}
.starts {
  margin-bottom: 1.5rem;
}
.starts i {
  color: brown;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.items q {
  font-size: 1.2rem;
}
i.bi.bi-arrow-left-circle {
  color: brown;
  font-size: 2rem;
}
i.bi.bi-arrow-right-circle {
  color: brown;
  font-size: 2rem;
}
